  .class1 {
    display: flex;
    flex-flow: row;
    width: 50%;
    justify-content: space-between;
    flex-wrap: wrap;
  }

 #first-article {
   border: solid 1px red;
   margin: 10px;
   width: 100px;
   flex-grow: 100px;
   flex-shrink: 50px;
   display: inline-block;        /*makes the border grow with the text put in it */
   white-space: normal;
   word-wrap: break-word;
}

   #second-article {
    border: solid 1px blue;
    margin: 10px;
    width: 100px;
    flex-grow: 100px;
    flex-shrink: 50px;
    display: inline-block;
    white-space: normal;
    word-wrap: break-word;
   }


